body, html {
  margin: 0px;
  height: 100%;
  overflow-y: hidden;
}

h1 {
  grid-area: title;
  margin: 0px;
  text-align: center;
}

#container {
  width: 100%;
  position: relative;
}

/* navigation */

#tab-panel {
  height: calc(100vh - 250px);
}

nav ul li {
  display: inline;
  background-color: rgb(209, 203, 203);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

nav {
  max-width: 640px;
  margin: auto;
}

/* content */

#main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.content {
  position: relative;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px;
}

/* header/footer */

header {
  height: 120px;
  background: white;
  border-bottom: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding-top: 5px;
  color: #5d627b;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "notice notice github"
    ". title ."
    ". copy .";
}

.notice {
  grid-area: notice;
  font-size: 0.7em;
}

.github {
  grid-area: github;
  margin-left: auto;
  margin-right: 5px;
  text-align: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
}

.copy {
  grid-area: copy;
  margin: 0px;
  text-align: center;
}
